* {
    font-family: Tahoma;
}

header, footer {
    background-color: maroon;
    color: white;
    padding: 10px;
}

footer {
    clear: both;
}
#left, #right {
    width: 50%;
    height: 500px;
}

#left {
    background-color: lightsalmon;
    float: left;
}

#right {
    background-color: darksalmon;
    float: left;
}

h1, h2, h3 {
    text-align: center;
}

table, td {
    border: 1px solid maroon;
}

table {
    width: 85%;
    border-collapse: collapse;
    margin: auto;
}

ol {
    list-style-type: none;
}

.przycisk {
    background-color: maroon;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.przycisk:hover {
    background-color: white;
    color: maroon;
}