* {
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightsalmon;
    text-align: center;
}

#left-top {
    width: 100%;
    height: 400px;
}

#left-bottom {
    background-color: darksalmon;
    width: 100%;
    height: 100px;
}

#left {
    width: 30%;
    height: 500px;
    float: left;
}

#right {
    background-color: darksalmon;
    width: 70%;
    height: 500px;
    overflow: auto;
    float: left;
}

header {
    width: 100%;
    height: 270px;
}