body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    width: 300px;
    height: 300px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Gnome-system-log-out.svg/250px-Gnome-system-log-out.svg.png');
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 {
    background-repeat: no-repeat;
}

.box2 {
    background-repeat: repeat-x;
}

.box3 {
    background-repeat: repeat;
}

p {
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 0;
}
