#prostokat {
    height: 250px;
    width: 425px;
    background-color: blue;

    padding-left: 64px;
    padding-bottom: 10px;
    padding-top: 80px;
    padding-right: 45px;
}

#prostokat2 {
    background-color: red;
    padding: 50px 44px 92px 69px; /* 50 -góra, 44 prawo 92 dół 69 lewo */
}

form {
    display: flex;
    flex-direction: row;
}

#but1 {
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
}

#but2 {
    padding: 50px 60px 70px 80px;
    margin: 50px 60px 70px 80px;
}