* {
    width: 100%;
}

html, body {
    height: 100%;
}

main {
    height: 80%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#main {
    background-color: gainsboro;
    height: 80%;
}

header {
    background-color: red;
    height: 20%;
}

#right {
    width: 20%;
    height: 100%;
    background-color: green;
}

footer {
    width: 100%;
    height: 20%;
    background-color: burlywood;
}
